@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&family=Roboto:wght@100&family=Work+Sans:wght@100;400;600;800&display=swap');
* {
    box-sizing: border-box;
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
}

html {
    /* Permite delizar cuando se haga click en el menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header {
    background: #000000;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid #FFBF00;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px; 
}

.contenedor-header header .logo a {
    font-family: "Righteous";
    font-size: 36px;
    color: #FFBF00;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #FFBF00;
}

.nav-responsive {
    background-color: #FFBF00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECTION HOME */
.inicio {
    background: linear-gradient(to top, rgba(184, 134, 11, 0), rgba(151, 109, 25, 0.2)),
    url(assets/img/background.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFBF00;
}

.inicio .container-banner {
    padding: 60px;
    text-align: left;
}

.inicio .container-banner h1 {
    margin-top: -10px;
    font-size: 70px;
    font-family: "Righteous";
}

.inicio .container-banner p {
    color: #C5C5C5;
    margin-top: 20px;
    font-size: 30px;
    font-family: "Righteous";
}

.inicio .container-banner .contactame {
    display: block;
    max-width: 225px;
    padding: 20px 60px;
    margin-top: 60px;
    color: #FFBF00;
    background: transparent;
    border: 1px solid #FFBF00;
    line-height: 15px;
    cursor: pointer;
    
    
}

.inicio .container-banner .contactame span {
    margin-left: -11px;
    text-align: center;
    font-size: 18px;
    font-family: "Righteous";
    text-decoration: none;
    letter-spacing: 2px
}

    
.inicio .container-banner .contactame:hover {
    color: #FFD700;
    border-color: #FFD700;
}

.sobremi {
    
    background: radial-gradient(circle, rgba(151, 109, 25, 0.1),rgba(0, 0, 0, 0)),
    url(https://t4.ftcdn.net/jpg/04/92/22/93/360_F_492229389_5ve1bCKgYrLRHpCj3o4FAzz60efaZgG0.jpg);
    background-size: cover;
    height: 92vh;
    
}

.sobremi div div h1{
    padding-top: 60px;
    color: #fff;
    text-decoration: none;
    font-family: "Righteous";
    
}

.habilidades-blandas {
    margin: 45px 250px;
    max-width: 100%;
}

.card {
    background: transparent;
    

}

.card-img-top {
    display: block;
    width: 135px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
}

.card-text {
    color: #fff;
    text-align: center;
    font-size: 11pt;
    font-weight: 200;
    margin-bottom: 20px;
    margin-top: 5px;
    
}

strong {
    color: #fff;
    font-size: 18pt !important;
    text-decoration: none;
    font-family: "Righteous";
}