@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&family=Roboto:wght@100&family=Work+Sans:wght@100;400;600;800&display=swap');
* {
    box-sizing: border-box;
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
}

html {
    /* Permite delizar cuando se haga click en el menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header {
    background: #000000;
    position: fixed; 
    width: 100%;
    border-bottom: 1px solid #DAA520;
    height: 55px;
    top: 0;
    left: 0;
    z-index: 99;    
}

.contenedor-header header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 120px;     
}

.contenedor-header header .logo a {
    font-family: "Righteous";
    font-size: 30px;
    color: #FFBF00;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    font-family: "Righteous";
    font-size: 17px;
    color: #fff;
    margin: 0 15px;
    transition: .5;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #FFBF00;
}

nav {
    display: inline-block;
    margin: 10px 0;
}

.nav-responsive {
    background-color: #DAA520;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECTION HOME */
.inicio {
    background: radial-gradient(circle, rgba(151, 109, 25, 0.1),rgba(0, 0, 0, 0)),
    url(assets/img/background_home.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DAA520;
}

.inicio .container-banner {
    padding: 60px;
    text-align: left;
}

.inicio .container-banner h1 {
    margin-top: -10px;
    font-size: 70px;
    font-family: "Righteous";
}

.inicio .container-banner p {
    color: #C5C5C5;
    margin-top: 20px;
    font-size: 30px;
    font-family: "Righteous";
}

.inicio .container-banner .contactame {
    display: block;
    max-width: 225px;
    padding: 15px 60px;
    margin-top: 60px;
    color: #DAA520;
    background: transparent;
    border: 1px solid #DAA520;
    line-height: 15px;
    cursor: pointer;
    transition: .5s;
}

.inicio .container-banner .contactame:hover {
    background-color: #DAA520;
    color: #fff !important;
}

.inicio .container-banner .contactame h2 {
    margin: 5px -10px;
    text-align: center;
    font-size: 18px;
    font-family: "Righteous";
    text-decoration: none;
    letter-spacing: 2px
}

.inicio .container-banner .contactame .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FFBF00;
    z-index: -1;
    transition: 1s;
}
    
.inicio .container-banner .contactame:hover {
    color: #FFBF00;
    border-color: #FFBF00;
}

/* SECTION ABOUT ME */

.sobremi {
    background: radial-gradient(circle, rgba(151, 109, 25, 0.1),rgba(0, 0, 0, 0)),
    url(https://t4.ftcdn.net/jpg/04/92/22/93/360_F_492229389_5ve1bCKgYrLRHpCj3o4FAzz60efaZgG0.jpg);
    background-size: cover;
    height: 100vh;
    border-bottom: 1px solid #DAA520;
}

.sobremi div div h1{
    padding-top: 70px;
    color: #fff;
    text-decoration: none;
    font-family: "Righteous";
    font-size: 46px;
    text-align: center;
}

.habilidades-blandas {
    max-width: 100%;
    padding: 20px 300px 0px 300px;
}

.card {
    background: transparent;
}

.card-img-top {
    display: block;
    width: 135px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    margin-top: -20px;
    color: #fff;
}
.card-text {
    text-align: center;
    font-size: 11pt;
    font-weight: 200;
}

.card-title {
    color: #fff;
    font-size: 18pt;
    text-decoration: none;
    font-family: "Righteous";
}

.presentacion {
    padding: 30px 300px 0px 300px;
}

.bug {
    margin-bottom: 35px;
    width: 235px;
    height: 235px;
    border: 1px solid #DAA520;
}

.progress {
    background-color: #EEE8AA;
    height: 22px;
    margin: 0px 0px 21px 0px;
}
.progress-bar {
    background-color: #DAA520;
    text-decoration: none;
    font-family: "Righteous";
    color: #fff;
    font-size: 12pt;
    text-shadow: 1px 1px 1px #000;
    
}

.porcentaje {
    margin: auto;
    text-shadow: 1px 0px 0px #000;
}

/* SECTION PORTFOLIO */

.portfolio {
    background: radial-gradient(circle, rgba(151, 109, 25, 0.1),rgba(0, 0, 0, 0)),
    url(https://t4.ftcdn.net/jpg/04/92/22/93/360_F_492229389_5ve1bCKgYrLRHpCj3o4FAzz60efaZgG0.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    padding: 50px 20px;
    border-bottom: 1px solid #DAA520;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}
.portfolio h2 {
    font-size: 46px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0px;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto {
    position: relative;
    max-width: 260px;
    height: fit-content;
    margin: 30px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 260px;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(218, 165, 32, 1), rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 16px;
    letter-spacing: 2px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* SECTION CONTACT ME */

#contact {
    padding: 100px 15px;
    background: radial-gradient(circle, rgba(151, 109, 25, 0.1),rgba(0, 0, 0, 0)),
    url(/assets/img/background_contact.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
}

#contact .titulo-seccion {
    margin-bottom: 60px;
}

#contact .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contact .contenedor-form .fila {
    margin-bottom: 15px;
}

#contact .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contact .contenedor-form input,
#contact .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 2px solid #DAA520;
}

#contact .contenedor-form .mitad input {
    width: 48%;
}

#contact .contenedor-form .input-full {
    width: 100%;
}

#contact .titulo-seccion {
    font-size: 46px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #e0e0e0;
    text-decoration-thickness: 5px;
}

#contact .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contact .btn-enviar:hover {
    background-color: #DAA520;
    color: #fff;
}

/*  */
